<style>
    .footer {
        background-color: #202020;
        color: #ffffff;
        font-family: Arial, sans-serif;
    }

    .footer h5 {
        color: #ffffff;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .footer address,
    .footer ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .footer address a,
    .footer ul li a {
        color: #b3b3b3;
        text-decoration: none;
        font-size: 14px;
    }

    .footer address a:hover,
    .footer ul li a:hover {
        color: #ffffff;
    }

    .footer-row {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .footer-col {
        margin: 0 20px;
    }

    .footer-col ul {
        margin-top: 10px;
    }

    .footer-col ul li {
        margin-bottom: 10px;
    }

    .social-icons a {
        color: #b3b3b3;
        margin-right: 10px;
        font-size: 18px;
        text-decoration: none;
    }

    .social-icons a:hover {
        color: #ffffff;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 20px;
        font-size: 12px;
    }

    .footer-bottom p {
        margin: 0;
    }

    .footer-terms {
        display: inline;
        margin-left: 10px;
    }

    .footer-terms li {
        display: inline;
        margin: 0 10px;
    }

    .footer-terms li a {
        color: #b3b3b3;
        text-decoration: none;
    }

    .footer-terms li a:hover {
        color: #ffffff;
    }

    .footer-row a {
        color: white !important;
    }
</style>
<div class="container" style="background: #034748">
    <div class="footer-row">
        <div class="footer-col" style="text-align: left">
            <h5><b>Address</b></h5>
            <address style="text-align: start !important; color : white">
                3rd Floor, Flat-3A, 221/1, R.N.Thure Road, <br>Bediapara, Kolakata, </br>West Bengal - 700077<br>
                <a href="mailto:techtogreen02@gmail.com">techtogreen02@gmail.com</a>
            </address>
            <div class="social-icons" style="text-align: left">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-col" style="text-align: left">
            <h5><b>Main Links</b></h5>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#products">Products</a></li>
                <li><a href="#services">Services</a></li>
            </ul>
        </div>
        <div class="footer-col" style="text-align: left">
            <h5><b>Quick Links</b></h5>
            <ul>
                <li><a href="#patents">Patents Granted</a></li>
                <li><a href="#awards">Awards</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#blog">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom" style="color : white">
        <p>&copy; 2024 TechtoGreen. All Rights Reserved. | <a href="#terms">Terms of Use</a> | <a href="#privacy">Privacy
            Policy</a></p>
    </div>
</div>

