<nav class="primary-menu navbar navbar-expand-lg navbar-dark bg-white border-bottom-0 sticky-top" style="color: black !important;">
    <div class="container-fluid position-relative g-lg-4" style="color: black !important;">
        <div class="col-auto col-lg-2">
            <!-- Logo -->
            <a class="logo" href="https://www.techtogreen.com" title="TechtoGreen">
                <img src="../images/ttgLogo.png" height="80" width="80" alt="TechtoGreen"/>
            </a>
            <!-- Logo End -->
        </div>
        <div class="col col-lg-8 navbar-accordion">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#header-nav">
                <span></span><span></span><span></span>
            </button>
            <div id="header-nav" class="collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav" style="color: black !important;">
                    <li class="nav-item"><a class="nav-link smooth-scroll active" href="#home">Home</a></li>

                    <!-- About Us Dropdown -->
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="#about" id="aboutDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            About Us <i class="fas fa-angle-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="../pages/about-us.html#vision">Our Vision</a></li>
                            <li><a class="dropdown-item" href="../pages/about-us.html#story">Our Story</a></li>
                            <li><a class="dropdown-item" href="../pages/about-us.html#team">Our Team</a></li>
                        </ul>
                    </li>

                    <!-- Products -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#products" id="productsDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Products <i class="fas fa-angle-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                            <li><a class="dropdown-item" href="../pages/products.html#agri-drone">Agri-Tech
                                Drone</a></li>
                            <li><a class="dropdown-item" href="../pages/products.html#agri-rover">Agri-Tech
                                Rover</a></li>
                            <li><a class="dropdown-item"
                                   href="../pages/products.html#surveillance">Surveillance</a></li>
                            <li><a class="dropdown-item" href="../pages/products.html#robotic-arm">Robotic Arm</a>
                            </li>
                            <li><a class="dropdown-item" href="../pages/products.html#robotic-accessories">Robotic
                                Accessories</a></li>
                        </ul>
                    </li>

                    <!-- Services -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#services" id="servicesDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Services <i class="fas fa-angle-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <li><a class="dropdown-item" href="../pages/services.html#agri-tech">Agri-Tech</a></li>
                            <li><a class="dropdown-item" href="../pages/services.html#smart-surveillance">Smart
                                Surveillance</a></li>
                            <li><a class="dropdown-item" href="../pages/services.html#3d-mapping">3D Mapping</a>
                            </li>
                            <li><a class="dropdown-item" href="../pages/services.html#consulting">Consulting</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Research & Consultancy Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#research" id="researchDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Research & Consultancy <i class="fas fa-angle-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="researchDropdown">
                            <li><a class="dropdown-item" href="#patents">Patents Granted</a></li>
                        </ul>
                    </li>

                    <!-- Media Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#media" id="mediaDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Media <i class="fas fa-angle-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="mediaDropdown">
                            <li><a class="dropdown-item" href="#awards">Awards</a></li>
                            <li><a class="dropdown-item" href="#blog">Blog</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-auto col-lg-2 d-flex justify-content-end">
            <ul class="social-icons social-icons-light">
                <li class="social-icons-linkedin">
                    <a data-bs-toggle="tooltip" href="http://www.linkedin.com/" target="_blank"
                       title="LinkedIn">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>