<div class="container">
    <!-- Heading -->
    <div class="position-relative d-flex text-center mb-5">
        <h2 class="text-24 text-light opacity-4 text-uppercase fw-600 w-100 mb-0">Products</h2>
        <p class="text-9 text-dark fw-600 position-absolute w-100 align-self-center lh-base mb-0">Our
            Work<span
                    class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span>
        </p>
    </div>
    <!-- Heading end -->
    <div class="portfolio popup-ajax-gallery">
        <div class="row g-4">
            <!-- Image 1 -->
            <div class="col-md-4 text-center">
                <div class="portfolio-box rounded">
                    <div class="portfolio-img rounded">
                        <img class="img-fluid d-block w-100" src="../images/TGD1.png" alt="Project 1">
                        <div class="portfolio-overlay">
                            <a class="popup-ajax stretched-link"
                               href="ajax/portfolio-ajax-project-1.html"></a>
                            <div class="portfolio-overlay-details">
                                <h5 class="text-white fw-400">TGD1</h5>
                                <span class="text-light">Click for more info</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mt-3"><b>TGD1</b></h4>
            </div>
            <!-- Image 2 -->
            <div class="col-md-4 text-center">
                <div class="portfolio-box rounded">
                    <div class="portfolio-img rounded">
                        <img class="img-fluid d-block w-100" src="../images/TGR1 (2).png" alt="Project 2">
                        <div class="portfolio-overlay">
                            <a class="popup-ajax stretched-link"
                               href="ajax/portfolio-ajax-project-5.html"></a>
                            <div class="portfolio-overlay-details">
                                <h5 class="text-white fw-400">TGR1</h5>
                                <span class="text-light">Click for more info</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mt-3"><b>TGR1</b></h4>
            </div>
            <!-- Image 3 -->
            <div class="col-md-4 text-center">
                <div class="portfolio-box rounded">
                    <div class="portfolio-img rounded">
                        <img class="img-fluid d-block w-100" src="../images/TGD2.png" alt="Project 3">
                        <div class="portfolio-overlay">
                            <a class="popup-ajax stretched-link"
                               href="ajax/portfolio-ajax-project-3.html"></a>
                            <div class="portfolio-overlay-details">
                                <h5 class="text-white fw-400">TGD2</h5>
                                <span class="text-light">Click for more info</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mt-3"><b>TGD2</b></h4>
            </div>
        </div>
    </div>
</div>
